section.start{
    background-color: #1d1d1d;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    display: flex;
}
.name{
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    margin-left: 3vw;
    flex: 1;
}
.name h3{
 color: #00a8aa;
 font-size: 3vh;
}
.name h1{
 color: #d1d1d1;
 font-size: 9vh;
 font-weight: 900;
}
.sideImage{
    flex:1;
}
.sideImage img{
    width: 100%;
}
section{
    padding: 3vh 3vw;
}
section h2{
    font-size: 4vh;
    border-bottom: 2px solid #00a8aa;
    margin-bottom: 3vh;
}

.NEM{
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    width: 70vw;
    height: 39.38vw;
}